li{
  color: blue;
}
img{
  height: 140px;
}
.col-md-2 {
  margin: 6px;
  border: 2px solid grey;
  padding: 12px;
}
img.to-left{
  float: left;
  height: 250px;
}
p.important {
  font-size: 20px;
  color: grey;
}
.col-md-5 {
  margin:6px;
  border:2px solid grey;
  padding: 12px;
}
