.blue{
  color: blue;
}
img{
  height: 140px;
}
.col-md-2 {
  margin: 6px;
  border: 2px solid grey;
  padding: 12px;
  background-color: grey;
}
img.to-left{
  float: left;
  height: 250px;
}
p.important {
  font-size: 20px;
  color: grey;
}
.col-md-5 {
  margin:6px;
  border:2px solid grey;
  padding: 12px;
  background-color: yellow;
}
.col-md-4 {
  margin:6px;
  border:2px solid grey;
  padding: 12px;
}
img.to-right{
  float: right;
  height: 100px;
  width: 200;
}
.box{
  margin:1px;
  border:1px solid grey;
  padding: 1px;
}
